on early-boot
    chown system system /dev/oplus_display
    chmod 0644 /dev/oplus_display
    chown system system /data/addon/oplus_display/dsi_cmd
    chown system system /data/addon/oplus_display/dim_alpha
    chown system system /data/addon/oplus_display/dim_dc_alpha
    chown system system /data/addon/oplus_display/ccd_check
    chown system system /data/addon/oplus_display/audio_ready
    chown system system /data/addon/oplus_display/dimlayer_set_bl
    chown system system /data/addon/oplus_display/dynamic_osc_clock
    chown system system /data/addon/oplus_display/notify_panel_blank
    chown system system /data/addon/oplus_display/roundcorner
    chown system system /data/addon/oplus_display/vsync_switch
    chown system system /data/addon/oplus_display/adfr_debug
    chown system system /data/addon/oplus_display/oplus_brightness
    chown system system /data/addon/oplus_display/oplus_max_brightness
    chown root root /data/addon/oplus_display/panel_id
    chown root root /data/addon/oplus_display/panel_serial_number

    chmod 7777 /data/addon/tracing/events/sde/enable
    chmod 7777 /data/addon/tracing/events/sde/tracing_mark_write/enable
    chmod 7777 /data/addon/tracing/events/sde/sde_evtlog/enable
    chmod 7777 /sys/class/kgsl/kgsl-3d0/snapshot/snapshot_control

service displaypanelfeature-1-0 /odm/bin/hw/vendor.oplus.hardware.displaypanelfeature@1.0-service
    class hal animation
    user system
    group system root
